<h2>スケジュール編集</h2>

<%= form_for @user do |f| %>
    <table>
        <tr>
            <th><%= f.label :tittle ,"タイトル" %></th>
            <td><%= f.text_field :tittle %></td>
        </tr>
        <tr>
            <th><%= f.label :starttime ,"開始日" %></th>
            <td><%= f.text_field :starttime %></td>
        </tr>
        <tr>
            <th><%= f.label :finishtime ,"終了日" %></th>
            <td><%= f.text_field :finishtime %></td>
        </tr>
       
    </table>
    <div>
        <ul>
            <li><%= f.submit "編集を完了する" %></li>
            <li><%= link_to "スケジュール一覧に戻る", :users %></li>
        </ul>
    </div>
<% end %>